# ---------------------------------------------------------------------------- #
#                                     build                                    #
# ---------------------------------------------------------------------------- #
build.sh
build/
# ---------------------------------------------------------------------------- #
#                                    raylib                                    #
# ---------------------------------------------------------------------------- #
libraylib.a
ray*
# ---------------------------------------------------------------------------- #
#                                    VSCODE                                    #
# ---------------------------------------------------------------------------- #
ecs.dSYM/