# ---------------------------------------------------------------------------- #
#                                     build                                    #
# ---------------------------------------------------------------------------- #
ecs
build.sh
# ---------------------------------------------------------------------------- #
#                                    raylib                                    #
# ---------------------------------------------------------------------------- #
libraylib.a
ray*
# ---------------------------------------------------------------------------- #
#                                    VSCODE                                    #
# ---------------------------------------------------------------------------- #
ecs.dSYM/